body{
    margin: 0;
    font-family: 'Inconsolata', monospace;
}
.nav{
    overflow: hidden;
    background-color: black;
}
.nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.nav a.active{
    background-color: forestgreen;
    color: white;
}
.social{
    float: right;
}
.profile{
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    width: 50%;
    height: auto;
}
#propic{
    width: 500px;
    height: 500px;
}

.name-highlight{
    color: sandybrown;
}

#py{
    color: red;
}
#web{
    color: rgb(247, 85, 85);
}
#photo{
    color: rgb(250, 143, 143);
}

.service-list{
    margin: 4%;
}

.service-list-one-to-one{
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    position: relative;
    display: inline-block;
    width: 326px;
    height: 256px;
}

.service-image{
    text-align: center;
    width: 57px;
    height: 56.6px;
}
